@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
        <title>Home</title>
    </head>
    <body style="text-align:center">
        <h1> welcome to zezo's party'</h1>
        <a href="Register/addForm">Register Now</a>
        <br />
        <a href="Register/showAll">show all participants</a>
    </body>
</html>